@media (max-width: 860px){
  .container-header{
    width: 95%;
  }
  .img{
    width: 190px;
    height: 80px;
  }
  nav{
    width: 42%;
  }
  .menu{
    background-color: brown;
  }
  .btn{
    width: 85px;
  }

  .input{
    width: 60%;
  }
}

@media (max-width: 650px){
  .img{
    width: 172px;
    height: 75px;
  }
  nav{
    width: 20%;
  }
  .btn{
    width: 80px;
  }

  .input{
    width: 60%;
  }
  .menu{
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 48, 165);
  }
}

@media (max-width: 412px){
  .menu{
    background-color: rgb(161, 165, 42);
  }
}