/*numero da nossa cor  f2e0d2*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-wood-texture-white-wood-texture-background-picture-image_1465276.jpg');
  }
  
header {
    background-color:rgba(255, 255, 255, 0.566);
    padding: 10px 0 ;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  }
  
.container-img {
    height: 130px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*logo */
img{
    max-width: 27%;
    height: auto;
    
  }
  /*botao do menu*/
.btn {
    width: 130px;
    height: 40px;
    font-size: .9em;
    cursor: pointer;
    background-color:  #ff8c00;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    text-wrap: none;
   }
   
.btn:hover {
    border-radius: 5px;
    transform: translateY(-1px);
    box-shadow: 0 7px 0 -2px #ffc15c32;
   }
   
.btn:active {
    transition: all 0.2s;
    transform: translate(-1px);
    box-shadow: 0 2px 0 -2px #f2e0d2,
     0 8px 0 -4px #e7d6c9,
     0 12px 10px -3px #c8b9ae;
   }
a{
    text-decoration: none;
    color: #000000;
  }
  
  /*aparti daqui é o codigo da barra de pesquisa */
.container-input {
    position: relative;
    max-width: 30%;
    padding: auto;
}
  
.input {
    width: 200px;
    height: 10px;
    padding: 10px 0px 10px 40px;
    border-radius: 5px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
.input:focus {
    opacity: 1;
    width: 210px;
  }
    
  /*Categorias */
main{
      width: 100%;
      margin-bottom: 0;
      margin-left: 0;
   
  }
.card {
      max-width: 90%;
      height: 470px;
      border-radius: 4px;
      box-shadow: 2px 5px 20px 5px rgb(99, 93, 93);
      backdrop-filter: blur(2px);
      display: flex;
      gap: 10px;
      padding: .7em;
      margin: auto;
      position:absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%);
  
  }
  
.card p {
      margin: 0;
      height: 100%;
      flex: 1;
      overflow: hidden;
      cursor: pointer;
      border-radius: 5px;
      transition: all .3s;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.59);
      border: 1px solid #000000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
.card p:hover {
      flex: 4;
  }
    
.card p span {
      min-width: 14em;
      padding: .5em;
      text-align: center;
      transform: rotate(-90deg);
      transition: all .4s;
      text-transform: uppercase;
      background-color: #f4eded7a;
      backdrop-filter: blur(10px);
      font-weight: 150px;
      
  }
  /*Sugnda parte de cards*/
.card p:hover span {
      transform: rotate(0);
  }
.card_2 {
    max-width: 90%;
    height: 470px;
    border-radius: 4px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.414);
    background: #ead6c700;
    display: flex;
    gap: 10px;
    padding: .7em;
    margin: auto;
    position:absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }  
.card_2 p {
    margin: 0;
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.59);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
.card_2 p:hover {
    flex: 4;
  } 
.card_2 p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .4s;
    text-transform: uppercase;
    background-color: #f4eded7a;
    backdrop-filter: blur(10px);
    font-weight: 150px;
    
  } 
.card_2 p:hover span {
    transform: rotate(0);
  }
/*Pra mudar a cor da letra dos cards*/
.a{
  color: #ffffff;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}
  /*Imagem de cada card (p)*/
/*Parte do almoço*/
#alm1{
    background-image: url('../img/cardapio/image1card.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm2{
    background-image: url('../img/cardapio/image2card.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm3{
    background-image: url('../img/cardapio/image3card.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm4{
    background-image: url('../img/cardapio/image4card.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm5{
    background-image: url('../img/cardapio/image5card.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

#alm6{
    background-image: url('../img/cardapio/image6card.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm7{
    background-image: url('../img/cardapio/image7card.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm8{
    background-image: url('../img/cardapio/image8card.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm9{
    background-image: url('../img/cardapio/image9card.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#alm10{
    background-image: url('../img/cardapio/image10card.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
/*Parte da salada*/
#sala1{
    background-image: url('../img/cardapio/salada1.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala2{
    background-image: url('../img/cardapio/salada2.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala3{
    background-image: url('../img/cardapio/salada3.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala4{
    background-image: url('../img/cardapio/salada4.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala5{
    background-image: url('../img/cardapio/salada5.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala6{
    background-image: url('../img/cardapio/salada6.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala7{
    background-image: url('../img/cardapio/salada7.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala8{
    background-image: url('../img/cardapio/salada8.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala9{
    background-image: url('../img/cardapio/salada9.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#sala10{
    background-image: url('../img/cardapio/salada10.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

  /*Parte dos salgados*/
#salg1{
    background-image: url('../img/cardapio/salg1.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg2{
    background-image: url('../img/cardapio/salg2.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg3{
    background-image: url('../img/cardapio/salg3.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg4{
    background-image: url('../img/cardapio/salg4.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg5{
    background-image: url('../img/cardapio/salg5.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg6{
    background-image: url('../img/cardapio/salg6.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg7{
    background-image: url('../img/cardapio/salg7.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg8{
    background-image: url('../img/cardapio/salg8.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg9{
    background-image: url('../img/cardapio/salg9.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#salg10{
    background-image: url('../img/cardapio/salg10.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
/*Parte dos doces*/
#d1{
    background-image: url('../img/cardapio/doce1.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d2{
    background-image: url('../img/cardapio/doce2.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d3{
    background-image: url('../img/cardapio/doce3.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d4{
    background-image: url('../img/cardapio/doce4.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d5{
    background-image: url('../img/cardapio/doce5.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d6{
    background-image: url('../img/cardapio/doce6.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d7{
    background-image: url('../img/cardapio/doce7.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d8{
    background-image: url('../img/cardapio/doce8.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d9{
    background-image: url('../img/cardapio/doce9.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
#d10{
    background-image: url('../img/cardapio/doce10.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

/*Parte das bebidas*/
#b1{
  background-image: url('../img/cardapio/bebi1.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b2{
  background-image: url('../img/cardapio/bebi2.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b3{
  background-image: url('../img/cardapio/bebi3.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b4{
  background-image: url('../img/cardapio/bebi4.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b5{
  background-image: url('../img/cardapio/bebi5.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b6{
  background-image: url('../img/cardapio/bebi6.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b7{
  background-image: url('../img/cardapio/bebi7.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b8{
  background-image: url('../img/cardapio/bebi8.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b9{
  background-image: url('../img/cardapio/bebi9.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

#b10{
  background-image: url('../img/cardapio/bebi10.jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}