/*responsividades*/
@media (max-width: 1000px) { /*responsividades da largura da tela aqui*/

    .slides .slide{
      width: 10%;
      transition: 0.9s;
    }
    .flip-card-inner1,.flip-card-inner2,.flip-card-inner3,.flip-card-inner4,.flip-card-inner5,.flip-card-inner6,.flip-card-inner7,.flip-card-inner8,.flip-card-inner9,.flip-card-inner10{
      background-size: 7;
      background-position: center;
    }
    .flip-card-binner1,.flip-card-binner2,.flip-card-binner3,.flip-card-binner4,.flip-card-binner5,.flip-card-binner6,.flip-card-binner7,.flip-card-binner8,.flip-card-binner9,.flip-card-binner10{
      max-width: 90%;
      background-size: 7;
      background-position: center;
    }
    .flip-card-dinner1,.flip-card-dinner2,.flip-card-dinner3,.flip-card-dinner4,.flip-card-dinner5,.flip-card-dinner6,.flip-card-dinner7,.flip-card-dinner8,.flip-card-dinner9,.flip-card-dinner10{
      max-width: 400PX;
      background-size: 7;
      background-position: center;
    }
    .flip-card-sinner1,.flip-card-sinner2,.flip-card-sinner3,.flip-card-sinner4,.flip-card-sinner5,.flip-card-sinner6,.flip-card-sinner7,.flip-card-sinner8,.flip-card-sinner9,.flip-card-sinner10{
      max-width: 90%;
      background-size: 7;
      background-position: center;
    }
    .flip-card-sginner1,.flip-card-sginner2,.flip-card-sginner3,.flip-card-sginner4,.flip-card-sginner5,.flip-card-sginner6,.flip-card-sginner7,.flip-card-sginner8,.flip-card-sginner9,.flip-card-sginner10{
      max-width: 400PX;
      background-size: 7;
      background-position: center;
    }
  }
  
  @media (max-height: 690px) {
    
  
  .container-input{
    width: 10%;
  }
    input{
      width: 60%;
    }
    .card{
      height: 420px;
      top: 68%;
    }
    .card_2 {
      height: 420px;
      top:158%;
    }
    
  }
  @media (max-width: 645px) {
    .input {
      width: 50px;
    } 
    .input:focus {
      width: 60px;
    }
    .slides .slide{
      width: 10%;
      transition: 0.6s;
    }
    .card{
      flex-direction: column;
      width: 600px;
      height: 500px;
    }
    .card p span{
      transform: rotate(0deg);
    }
    .card_2{
      flex-direction: column;
      width: 600px;
      height: 500px;
    }
    .card_2 p span {
      transform: rotate(0deg);
    }
  }
  @media (max-height: 640px) {
    .container{  /*esse container é do   INDEX*/
      top: 68%;
      height: 75vh;
    }
    .card{
      height: 390px;
      top: 75%;
    }
    
  }
  @media (max-height: 530px) {
    .container{
      height: 80vh;
      top: 80%;
    }
    .card{
      height: 370px;
      top: 79%;
    }
    .card_2 {
      height: 370px;
      top: 160%;
    }
  }
  @media (max-height: 460px) {
    .container{
      height: 100vh;
      top: 90%;
    }
    .card{
      height: 365px;
      top: 83%;
    }
  }
  @media (min-width: 360px) and (max-width: 600px){
    .slides .slide{
      width: 10%;
      transition: 0.6s;
    }
    .s2, .s1,{
      background-size: 100% 185%;;
    }
    .s3,.s4{
      background-size: 110% 100%;
    }
  }
  */