/*numero da nossa cor  #f2e0d2*/
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-wood-texture-white-wood-texture-background-picture-image_1465276.jpg');
  color: #333;
  text-decoration: none;
}

header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color:rgba(255, 255, 255, 0.566);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  margin: auto;
}

.container-header{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img{
  background-image: url('../img/icon/logo_principal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  padding: 5px;
  height: 100px;
}

/*aparti daqui é o codigo da barra de pesquisa */
  .container-input {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: center;
    
  }
  .input {
    width: 70%;
    height: 10px;
    padding: 10px 0px 10px 40px;
    border-radius: 5px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(0, -50%);
  }
  .input:focus {
    opacity: 1;
    width: 71%;
  }
  /*aqui acaba o codigo da barra de pesquisa*/

  nav{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    
  }

  .menu{
    margin: 0;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
  }

  .btn{
    padding: 2% 0 ;
    text-align: center;
    width: 95px;
    border-radius: 3px;
    background-color: #ff910b;
  }
  
  .btn:hover{
    background-color: transparent;
    border: 2px solid #ff910b;
  }
  a{
    text-decoration: none;
    color: #000;
  }

  /*Parte das receitas finalmente*/
  main{
    width: 90%;
    box-shadow: 2px 5px 20px 5px rgba(99, 93, 93, 0.429);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    margin: auto;
  }
  
  h1,h2{
    padding-top: 2%;
    color: #d87905;;
  }
  
  span{
    color: red;
  }

  .div_7{
    background-color: #ffffff2d;
    backdrop-filter: blur(5px);
    height: auto;
    padding-left: 3%;
    padding-bottom: 3%;
  }
  
  
  
  p{
    text-align: justify;
    padding: 2px;
    padding-right: 5%;
    font-size: 20px;
  }
.card_social {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 10px;
   
  }
  
  .socialContainer {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  
  @media (max-width: 860px){
    .container-header{
      width: 95%;
    }
    .img{
      width: 190px;
      height: 80px;
    }
    nav{
      width: 42%;
    }
    .btn{
      width: 85px;
    }
    
    .input{
      width: 60%;
    }
    
  }
  @media (max-width: 650px){
    .img{
      width: 172px;
      height: 75px;
    }
    nav{
      width: 25%;
    }
    .btn{
      padding: 3% 0;
      width: 80px;
    }
    
    .input{
      width: 60%;
    }
    .menu{
      gap: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  @media (max-width: 412px){
    .img{
      width: 130px;
      height: 50px;
    }
    .container-input{
      width: 33%;
    }
    .btn{
      padding: 3% 0;
      width: 75px;
    }
  
    nav{
      width: 22%;
    }
  
  }