/*numero da nossa cor  #f2e0d2*/
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-wood-texture-white-wood-texture-background-picture-image_1465276.jpg');
  color: #333;
  text-decoration: none;
}

header {
  background-color:rgba(255, 255, 255, 0.566);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  margin: auto;
}

.container-header{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img{
  background-image: url('../img/icon/logo_principal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  padding: 5px;
  height: 100px;
}

/*aparti daqui é o codigo da barra de pesquisa */
  .container-input {
    background-color: #333;
    position: relative;
    width: 25%;
    display: flex;
    justify-content: center;
    
  }
  .input {
    width: 70%;
    height: 10px;
    padding: 10px 0px 10px 40px;
    border-radius: 5px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(0, -50%);
  }
  .input:focus {
    opacity: 1;
    width: 71%;
  }
  /*aqui acaba o codigo da barra de pesquisa*/

  nav{
    background-color: #333;
    height: auto;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .menu{
    margin: 0;
    width: 400px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
  }

  .btn{
    padding: 2% 0 ;
    text-align: center;
    width: 95px;
    border-radius: 3px;
    background-color: #ff910b;
  }
  
  .btn:hover{
    background-color: transparent;
    border: 2px solid #ff910b;
  }
  a{
    text-decoration: none;
    color: #000;
  }
  /*aqui acaba a config do menu*/
  
  /*------------Slides---------------*/
.container{
  padding: 0%;
  width: 100%;
  height: 68.5vh;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
  rgba(0, 0, 0, 0.06) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}
.container .slides{
  width: 500%;
  height: 100%;
  display: flex
}
.s1{
  background-image: url('../img/index/image5index.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 185%;
}
.s2{
  background-image: url('../img/index/image2index.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 140%;
}
.s3{
  background-image: url('../img/index/image3index.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s4{
  background-image: url('../img/index/image4index.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s5{
  background-image: url('../img/index/image1index.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s6{
  background-image: url('../img/index/bebi2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slides .slide{
  width: 10%;
  transition: 1.1s;
}
.slides input{
  /* display: none; */
  position: absolute;
  visibility: hidden;
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bar{
  backdrop-filter: blur(5px);
}
.navigation .bar{
  width: 50px;
  height: 15px;
  border: 2px solid #fff;
  margin: 0 6px;
  cursor: pointer;
  transition: 0.3s;
}
.bar:hover{
    background: #ffffff2b;
    scale: 1.3;
    transition-duration: 500ms;
}
#radio1:checked ~ .s1{
  margin-left: 0%;
}
#radio2:checked ~ .s1{
  margin-left: -20%;
}
#radio3:checked ~ .s1{
  margin-left: -40%;
}
#radio4:checked ~ .s1{
    margin-left: -60%;
}
#radio5:checked ~ .s1{
  margin-left: -80%;
}
#radio1:checked ~ .navigation .bar1{
    background: #d7c7bb;
  }
  #radio2:checked ~ .navigation .bar2{
    background: #d7c7bb;
}
#radio3:checked ~ .navigation .bar3{
    background: #d7c7bb;
  }
  #radio4:checked ~ .navigation .bar4{
    background: #d7c7bb;
  }
  #radio5:checked ~ .navigation .bar5{
    background: #d7c7bb;
  }
  
  
  main{
    height: auto;
  }
  footer{
    height: 50px;
    bottom: 0;
    background-color: #ff910b;
  }